  body {
    <!-- min-width: 520px; -->
    font-family: Arial, Helvetica, sans-serif;
  }
  .column {
    width: auto;
	 min-width: 100px;
    float: left;
    padding-bottom: 10px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;

  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  .gauge-container {
    width: auto;
    height: auto;
    display: block;
    /* float: left; */
    padding: 5px;
    overflow: hidden;
  }

  .ausgewaehlt {
  	 border-style: solid;
  	 border-color: red;
  	 border-width: 3px;
  }
		
.gauge-container {
	width: auto;
	height: auto;
   display: block;
   overflow: hidden;
   width: 150px;
   height: 150px;
}
.gauge-container.two {
   height: auto;
   border: 1px solid rgba(255,255,255,0.1);
}
.gauge-container.two > .gauge > .dial {
   stroke: #334455;
   stroke-width: 10;
}
.gauge-container.two > .gauge > .value {
   stroke-dasharray: none;
   stroke-width: 10;
}